*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 0 30px;
    gap: 20px;
}

h1 {
    order: 2;
    font: normal 600 2.2rem "Montserrat";
    color: rgb(19, 83, 185);
    text-shadow: 1px 1px 2cm rgba(0, 0, 0, 0.20);
}
header div {
    order:3
}

.about-link {
    order: 1;
    font: normal 400 1.2rem "Montserrat";
    text-decoration: none;
    color: rgb(19, 83, 185);
}

h2 {
    font: normal 600 2rem "Montserrat";
    color: rgb(19, 83, 185);
}

.navbar {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    display: flex;
    list-style: none;
    background-color:rgb(19, 83, 185);
    justify-content: flex-start;
}

.navbar > li{
    padding: 10px 0px;
}

.nav-link{
    text-decoration: none;
    font: normal 400 0.95rem "Montserrat";
    color:  white;
    padding: 10px 20px;
}

.nav-link:hover {
    border-bottom: 4px solid #3bcf76;
}

main {
    display: flex;
    min-height: 100vh;
    font-family: "Roboto";
}

aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font: normal 500 1.2rem arial;
    padding: 30px;
    min-width: 250px;
    min-height: 100%;
    box-shadow: 0 4px 6px 1px rgb(0 0 0 / 0.15);
}

.aside-title {
    text-align: center;
    font: normal 500 1.4rem "Roboto";
}


aside p {
    font:normal 400 1.1rem "Roboto";
    color: #4e5154;
}

.pontuacao-wrap {
    display: flex;
    height: 150px;
    width: 150px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    justify-content: center;
    align-items: center;
    background-color: #3bcf76;

}

#pontuacao {
    width: 135px;
    height: 135px;
    font-size: 3rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    padding: 30px 30px;
}

.aside-info-wrap {
    display: flex;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer {
    font: normal 400 1rem "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1353b9;
    color: #ffffff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

footer a {
    color: #ffffff;
    margin-left: 20px;
}

footer a:hover {
    text-decoration: underline;
}